bind_address="0.0.0.0" # IP we bind to
dns_port=5354

# Directory we run program from (not used in Win32)
chroot_dir = "/tmp/deadwood"

# If neither root_servers nor upstream_servers are set,
# Deadwood will use the default ICANN root servers.
upstream_servers = {}
upstream_servers["."] = "127.0.0.1"

# Who is allowed to use the cache.  This line
# allows anyone with "127.0" as the first two
# digits of their IP to use Deadwood
recursive_acl = "0.0.0.0/0"

# Maximum number of pending requests
maxprocs = 8

# Send SERVER FAIL when overloaded
handle_overload = 1

maradns_uid = 65534 # UID Deadwood runs as
maradns_gid = 65534 # GID Deadwood runs as

maximum_cache_elements = 60000

filter_rfc1918 = 1
verbose_level = 2
name_whitelist = "deadwood.whitelist"
blacklisted_answer_ip = "10.10.10.10"
