# This is an example deadwood rc file 
# Note that comments are started by the hash symbol

bind_address="127.0.0.1" # IP we bind to
dns_port=5354

# The following line is disabled by being commented out
#bind_address="::1" # We have optional IPv6 support

# Directory we run program from (not used in Win32)
chroot_dir = "/var/tmp/deadwood" 

# The following upstream DNS servers are Google's 
# (as of December 2009) public DNS servers.  For 
# more information, see the page at
# http://code.google.com/speed/public-dns/
#
# If neither root_servers nor upstream_servers are set,
# Deadwood will use the default ICANN root servers.
upstream_servers = {}
upstream_servers["."] = "127.0.0.1"
#upstream_servers["."]="8.8.8.8, 8.8.4.4" 
#upstream_servers["."]="192.168.1.1"

# Who is allowed to use the cache.  This line
# allows anyone with "127.0" as the first two
# digits of their IP to use Deadwood
recursive_acl = "127.0.0.1/16" 

# Maximum number of pending requests
maxprocs = 8 

# Send SERVER FAIL when overloaded
handle_overload = 1 

maradns_uid = 65534 # UID Deadwood runs as
maradns_gid = 65534 # GID Deadwood runs as

maximum_cache_elements = 60000

# If you want to read and write the cache from disk, 
# make sure chroot_dir above is readable and writable 
# by the maradns_uid/gid above, and uncomment the 
# following line. 
#cache_file = "dw_cache"

# If your upstream DNS server converts "not there" DNS replies
# in to IPs, this parameter allows Deadwood to convert any reply
# with a given IP back in to a "not there" IP.  If any of the IPs
# listed below are in a DNS answer, Deadwood converts the answer
# in to a "not there"
#ip_blacklist = "10.222.33.44, 10.222.3.55"

# By default, for security reasons, Deadwood does not allow IPs in 
# the 192.168.x.x, 172.[16-31].x.x, 10.x.x.x, 127.x.x.x, 
# 169.254.x.x, 224.x.x.x, or 0.0.x.x range.  If using Deadwood 
# to resolve names on an internal network, uncomment the 
# following line:
filter_rfc1918 = 0
verbose_level = 2
name_whitelist = "deadwood.whitelist"
